/*TITULO PRINCIPAL (H1)*/
.main-title {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  color: #f7f7f7;
  margin-bottom: 25px;

  text-shadow:
    0 0 10px rgba(0, 200, 255, 0.7),
    0 0 20px rgba(0, 200, 255, 0.5),
    0 0 40px rgba(0, 200, 255, 0.3);
  letter-spacing: 1px;
}


/*SUBTÍTULOS (H2)*/
.section-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #c3c2c2;

  border-left: 4px solid #00aaff;
  padding-left: 10px;

  text-shadow: 0 0 8px rgba(0, 150, 255, 0.4);
}


/*TITULO DO FORM DE ADIÇÃO*/
.add-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e2e2e2;
  margin-bottom: 10px;

  text-shadow:
    0 0 6px rgba(4, 0, 255, 0.6),
    0 0 12px rgba(0, 26, 255, 0.4);
}
