/* Container geral do formulario */
.device-form {
  margin-bottom: 20px;
}

/* Titulo */
.device-form h3 {
  margin-bottom: 12px;
}

/* Cada bloco de input */
.device-form .form-group {
  margin-bottom: 12px;
}

/* Inputs */
.device-form input {
  width: 260px;
  max-width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 4px;
  font-size: 14px;
}

/* Botao principal */
.device-form button {
  background: #20ad67ff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.device-form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* msg de erro */
.device-form .error-message {
  color: crimson;
  margin-top: 8px;
  font-size: 14px;
}
.device-form .input-container {
  display: flex;
  background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
  box-shadow:
    10px 10px 20px #0e1013,
    -10px -10px 40px #383e4b;
  padding: 0.3rem;
  border-radius: 1rem;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.device-form .input-container input {
  border-radius: 0.8rem;
  background: #23272f;
  box-shadow:
    inset 5px 5px 10px #0e1013,
    inset -5px -5px 10px #383e4b,
    0px 0px 100px rgba(255, 212, 59, 0),
    0px 0px 100px rgba(255, 102, 0, 0);
  width: 100%;
  padding: 1rem;
  border: 1px solid transparent;
  color: white;
  transition: all 0.2s ease-in-out;
}

.device-form .input-container input:focus {
  border: 1px solid #2e77f4;
  outline: none;
  box-shadow:
    inset 0px 0px 10px rgba(4, 48, 123, 0.5),
    inset 0px 0px 10px rgba(59, 121, 255, 0.5),
    0px 0px 100px rgba(59, 114, 255, 0.5),
    0px 0px 100px rgba(0, 89, 255, 0.5);
}
.input-container {
  display: flex;
  background: white;
  border-radius: 1rem;
  background: linear-gradient(173deg, #23272f 0%, #14161a 100%);
  box-shadow:
    10px 10px 20px #0e1013,
    -10px -10px 40px #383e4b;
  padding: 0.3rem;
  gap: 0.3rem;

  
  max-width: 250px; 
  width: 100%;
  margin: 0 auto; 
}

